.header {
  background-color: rgb(204, 247, 247);
  grid-area: h ;
}
.header span::after {
  content: 'My react project';
  margin-top: 15px;
  margin-left: 300px;
  position: absolute;
  font-size: 25px ;
}

.header img {
  height: 50px;
  margin-top: 6px;
}

@media (prefers-reduced-motion: no-preference) {
  .header img {
    animation: ReactLogo infinite 7s linear;
  }
}

@keyframes ReactLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
