.header {
  background-color: rgb(204, 247, 247);
  grid-area: h ;
}
a{
 margin-left:  35%;
 padding-bottom:  10px;
}


.header img {
  height: 50px;
  margin-top: 5px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .header img {
    animation: App-logo-spin infinite 5s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
