.div {
  display: grid;
  grid-template-columns:2fr 10fr ;
  padding-left: 20px;
  padding-top: 20px;
}
.text a {
  text-decoration: none;
}
.activeLink{
  color: red;
}
.message{
  color: rgb(46, 43, 43);
}
